/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
    width: 100%;
    margin: 20px 5px;
}

code, code > span {
    font-family: 'Source Code Pro', monospace;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/*h3 {
    margin-top: 25px;
    color: #303030;
    font-family: 'Source Serif Pro', serif;
}*/

a {
    color: #326891;    
}

a:hover {
    text-decoration: none;
}



#main,
#sidebar {
    position: absolute;
    top: 40px;
}
* {
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: 'liga', 'kern';
    font-stretch: normal;
    -webkit-font-kerning: auto;
    font-kerning: auto;
    -webkit-font-smoothing: antialiased!important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .004);
    vertical-align: baseline;
}

body {
    font-family: georgia,'times new roman',times,serif;
    font-size: 1.0625rem;
    line-height: 1.5rem;
}

#main {
    left: 280px;
    width: 600px;
    max-width: 600px;
}


p {
    margin-bottom: 0.75rem;    
    /*margin-left: 20px;*/
    margin-right: 20px;
    width: calc(100% - 40px);
    max-width: 600px;
}

dl, ul, ol {
    margin-top: 0;
    margin-bottom: 0.75rem;
}


/* Typography */
.san-serif { font-family: "Muli" }
h1 {
    margin-top: 0;
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 3rem;
}

h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    font-family: "Muli";
}

/* Table */
table {
    width: 100%;
    margin-bottom: 0.75rem;
    border-spacing: 0;
}

table thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

table tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

tbody tr:nth-of-type(odd) {
    background-color: rgba(0,0,0,.05);
}

table td, table th {
    padding: .5rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    font-size: 1.0625rem;
}

/* Responsiveness */
@media (min-width: 740px) {
    p {
        margin-bottom: 1.25rem;
    }
}

@media (min-width: 740px) {
    body {
        font-size: 1.1875rem;
        line-height: 1.8125rem;
    }
}

#main h1 a {
    color: inherit;
    text-decoration: none;
}


#nav {
    display: none;
    margin-bottom: 20px
}

#nav li {
    display: inline;
    margin-right: 7px
}

#nav img.logo {
    width: 65px;
    margin-bottom: 10px;
}


@media only screen and (max-width: 800px){
    #sidebar {
        left: 0;
        width: 190px;
        padding: 20px 12px 0 0;
    }

    #main {
        left: 214px;
        width: 486px;
    }
}


@media only screen and (max-width: 700px){
    #nav {
        display: initial;
    }

    #sidebar {
        display: none;
    }

    #main {
        left: 15px;
        width: calc(100% - 30px);
    }
}


.social {
    margin-top: 7rem;
    display: block;
}

.social div {
    display: inline-block;
    margin-right: 0.5rem;
}

.social div a {
    font-size: 0.875rem;
    color: #0b0b0b;
}

.social div a:hover {
    text-decoration: underline;
}

a.changelog {
    color: #00f;
}

a.changelog:hover {
    color: #333;
}

p.copyright {
    font-size: 0.875rem;
}


img.logo {
    width: 113px;
}

*:focus {
    outline: none;
}

.links:hover {
    color: #00f;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  /* ideally, transition speed should match zoom duration */
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}

code.has-jax {
    font: inherit;
    font-size: 100%;
    background: inherit;
    border: inherit;
    color: #515151;
}


.post-info {
    width: auto;
    margin-left: 0;
    display: inline-block;

    font-family: helvetica,arial,sans-serif;
    font-weight: 500;
    color: #333;
    font-size: 0.875rem;
    line-height: 1.125rem;
    margin-bottom: 1.75rem;
    margin-top: 0;
}

/* Sidebar */
#sidebar {
    left: 20px;
    width: 200px;
    padding: 20px 20px 0 20px;
    text-align: left;
}

#sidebar .section-header {
    text-transform: uppercase;
    font-size: 0.875rem;
    line-height: 1.125rem;
    font-weight:500;
    margin-top: 2rem;
    margin-bottom: 0;
}

#sidebar ul {
    list-style-type: none;
    margin: 10px 0;
}

#sidebar li {
    font-size: 1.0625rem;
    line-height: 1.5rem;
}

ul#main-nav li.active, ul#main-nav li:hover {
    list-style-type: disc;
}

ul#main-nav li a {
    color: inherit;
    font-weight: bold;
    text-decoration: none;
}

ul#main-nav li a:hover {
    text-decoration: underline;
}

/* Utilities */
.mt-3 {
    margin-top: 3rem !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.header-link a {
    text-decoration: none;
    color: inherit;
}

.header-link a:hover {
    text-decoration: underline;
}

