{{ partial "header/head.html" . }}

  <div id="main">
    {{ partial "nav.html" . }}
    <h1 class="san-serif"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
    <p class="post-info san-serif">{{ .FuzzyWordCount }} Words, {{ .ReadingTime }} minutes read, Published on {{ .PublishDate.Format "2 January 2006" }}</p>
    {{ .Content }}

  </div>


{{ partial "sidemenu.html" . }}
{{ partialCached "footer/foot.html" . }}
