<div id="sidebar">
  <p class="san-serif">Enzircle</p>

  {{ if $.Site.Params.portrait }}
  <a href="{{ $.Site.Params.portrait | absURL }}" class="image-link">
    <img class="logo animated flipInY" src="{{ $.Site.Params.portrait | absURL }}"/>
  </a>
  {{ end }}

  <ul id="main-nav">
    {{ $current := . }}
    {{ range .Site.Menus.main }}
    {{ $active := or ($current.IsMenuCurrent "main" .) ($current.HasMenuCurrent "main" .) }}
    {{ $active = or $active (eq .Name $current.Title) }}
    {{ $active = or $active (and (eq .Name "Posts") (eq $current.Section "posts")) }}
    {{ $active = or $active (and (eq .Name "Tags") (eq $current.Section "tags")) }}
      <li class="{{ if $active }}active{{ end }}"><a href="{{ .URL }}" class="san-serif">{{ .Name }}</a></li>
    {{ end }}
  </ul>

  <p class="section-header san-serif">Recent posts</p>
  <ul>
    {{ $current := . }}
    {{ range first 5 .Site.RegularPages }}
    {{ $active := (eq .Title $current.Title) }}
      {{ if eq .Type "posts" }}
        <li class="{{ if $active }}active{{ end }}"><a href="{{ .Permalink }}" class="san-serif">{{ .Title }}</a></li>
      {{ end }}
    {{ end }}
  </ul>

<!--   <p class="section-header san-serif">Projects</p>
  <ul>
    {{ range .Site.Menus.projects }}
    <li><a href="{{.URL}}" target="_blank" class="san-serif">{{ .Name }}</a></li>
    {{end}}
  </ul> -->




  {{ if isset .Site.Params "social" }}
    {{ partialCached "social.html" . }}
  {{ end }}
</div>
