<div class="social">
  {{ range .Site.Params.social }}
    <div>
        <a href="{{ .url }}" class="san-serif">{{ .title }}</a>
    </div>
  {{ end }}
    <p class="san-serif copyright">© enzircle.com 2020</p>
</div>


